root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.{toml,yaml,json,jsonc,md,html,jinja2,js,ts,css,svg,xml}]
indent_size = 2

[*.{cmd,cmd.tmpl,bat,bat.tmpl,ps1,ps1.tmpl,psm1,psd1}]
end_of_line = crlf

[*.{cmd,cmd.tmpl,bat,bat.tmpl}]
charset = unset

[Makefile]
indent_style = tab
