/.claude/
/.codex/
/.config/.mono/
/.config/Code/
/.config/KeePass/
/.config/QtProject.conf
/.config/Slack/
/.config/TabNine/
/.config/autostart/
/.config/chromium/
/.config/configstore/
/.config/dask/
/.config/dconf/
/.config/enchant/
/.config/eog/
/.config/evolution/
/.config/fish/
/.config/freerdp/
/.config/gcloud/
/.config/gedit/
/.config/gh/
/.config/github-copilot
/.config/gnome-gmail/
/.config/goa-1.0/
/.config/google-chrome/
/.config/gtk-2.0/
/.config/gtk-3.0/
/.config/htop/
/.config/libreoffice/
/.config/menus/
/.config/mimeapps.list
/.config/nautilus/
/.config/nvtop/
/.config/pudb/
/.config/pulse/
/.config/pypoetry/
/.config/remmina/
/.config/sqlitebrowser/
/.config/teamviewer/
/.config/user-dirs.dirs
/.config/user-dirs.locale
/.config/uv/
/.config/wireshark/
/.ipython/extensions
/.ipython/nbextensions
/.ipython/profile_*/*.sqlite
/.ipython/profile_*/db/
/.ipython/profile__*/
/.ipython/profile_sandbox/
/.ssh/config
/.ssh/environment
/.ssh/id_ed25519*
/.ssh/id_rsa*
/.ssh/known_hosts
/.ssh/known_hosts.old
/.ssh/localconfig
/.tmux/plugins/tmux-better-mouse-mode/
/.tmux/plugins/tmux-sensible/
/.vim/.netrwhist

!/.claude/CLAUDE.md
!/.codex/instructions.md

*.sqlite-journal
cmd.bat
