.config/.mono/
.config/Code/
.config/KeePass/
.config/QtProject.conf
.config/Slack/
.config/TabNine/
.config/autostart/
.config/configstore/
.config/dask/
.config/dconf/
.config/enchant/
.config/eog/
.config/evolution/
.config/freerdp/
.config/gedit/
.config/gnome-gmail/
.config/goa-1.0/
.config/google-chrome/
.config/gtk-2.0/
.config/gtk-3.0/
.config/htop/
.config/libreoffice/
.config/menus/
.config/mimeapps.list
.config/nautilus/
.config/nvtop/
.config/pudb/
.config/pulse/
.config/pypoetry/
.config/remmina/
.config/sqlitebrowser/
.config/teamviewer/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/wireshark/

.ipython/extensions
.ipython/nbextensions
.ipython/profile_*/db/
.ipython/profile_*/*.sqlite

.ssh/config
.ssh/environment
.ssh/id_rsa*
.ssh/id_ed25519*
.ssh/known_hosts
.ssh/known_hosts.old
.ssh/localconfig

.vim/.netrwhist

.tmux/plugins/tmux-better-mouse-mode/
.tmux/plugins/tmux-sensible/

*.sqlite-journal

cmd.bat
