.config/.mono/
.config/Code/
.config/KeePass/
.config/QtProject.conf
.config/Slack/
.config/autostart/
.config/configstore/
.config/dconf/
.config/enchant/
.config/evolution/
.config/eog/
.config/freerdp/
.config/gedit/
.config/gnome-gmail/
.config/goa-1.0/
.config/google-chrome/
.config/gtk-2.0/
.config/gtk-3.0/
.config/htop/
.config/libreoffice/
.config/menus/
.config/mimeapps.list
.config/nautilus/
.config/pulse/
.config/sqlitebrowser/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/wireshark/

.ipython/extensions
.ipython/nbextensions
.ipython/profile_*/db/
.ipython/profile_*/*.sqlite

.ssh/config
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts
.ssh/known_hosts.old
.ssh/localconfig

.vim/.netrwhist

