#!/bin/bash
set -eu
# conf.d hash: {{ range (joinPath .chezmoi.sourceDir "private_dot_ssh/conf.d/*" | glob) }}{{ include . | sha256sum }} {{ end }}
exec uv run --directory ~/dotfiles update-ssh-config
