sourceDir = {{ .chezmoi.workingTree | quote }}
{{ if eq .chezmoi.os "windows" -}}
[interpreters.ps1]
    command = "powershell"
    args = ["-NoLogo", "-NoProfile", "-ExecutionPolicy", "Bypass", "-File"]
{{ end -}}
